@media screen and (min-width: 768px){

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        writing-mode: vertical-rl;
        color: white;
        padding: 0px 1vw;
    }
    
    #nav-links{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #nav-links a {
        color: white;
        text-decoration: none;
    }

}